---
title: Front-end, JavaScript and more. By Rafaell Lycan
layout: page
homepage: true
image:
  src: /assets/images/location/fulfillment.jpg
  width: 1600
  height: 1289
layout_options:
  hide_page_title: true
  class: homepage
---

<section class="homepage__intro">
  <h5>Curious mind, developer and writer.</h5>
  <h1 class="homepage__title">Hi there, I'm Rafaell<span>.</span></h1>

  <p class="homepage__description">
    A brazilian <em>software developer</em> spending the majority of my time learning about product/web development.
    <br><br>
    I (randomly) write about programming, the web, life and/or photography.
  </p>

  <h4 class="title-hero">Elsewhere</h4>
  <p class="homepage__links">
    <a href="https://twitter.com/RafaellLycan" class="alarming">Twitter</a>–my main cheese
    <br>
    <a href="- http://instagram.com/rafaelllycan" class="alarming">Instagram</a>–travel diary
  </p>
</section>

<section class="homepage__intro">
  <h4 class="title-hero">Recent Articles</h4>

  {% include page/post-list.html limit=5 collection=site.posts %}

  <div class="text-center">
    <a href="/articles" class="btn">View all posts</a>
  </div>
</section>
